@model IEnumerable<Subtitle_Directorium.Models.Subtitle>

@{
    ViewBag.Title = "Index";
}

<head>
    <link href="@Url.Content("~/Styles/styleCreate.css")" rel="stylesheet" type="text/css" />
</head>
<h2 class="titlesh2">Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.movieName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movieName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
